body {
  font-family: 'Source Code Pro', monospace;
}

.header-container .animation_name {
  font-size: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container .animation_name .ico {
  font-size: 150px;
  position: relative;
}

.header-container .animation_name #letters {
  position: relative;
}

.header-container .animation_name .nameC {
  right: -45%;
  opacity: 0;
}

.header-container .animation_name .nameL {
  right: -37%;
  opacity: 0;
}

.header-container .animation_name .nameA {
  right: -29%;
  opacity: 0;
}

.header-container .animation_name .nameR {
  right: -21%;
  opacity: 0;
}

.header-container .animation_name .nameA2 {
  right: -13%;
  opacity: 0;
}

.header-container .animation_name .lastName {
  opacity: 0;
}

.header-container #intro #cvTitle {
  text-align: center;
}

.body-container {
  margin: 50px auto;
}

.body-container #cvSkills #education, .body-container #cvSkills #skills {
  border: white solid 20px;
}

.body-container #cvSkills #education {
  background: #212529;
  color: #F8F9FA;
}

.body-container #cvSkills #education .eductionPeriod {
  background: #3A3A3A;
}

.body-container #cvSkills #education .eductionPeriod h3 {
  text-align: center;
}

.body-container #cvSkills #education .eductionPeriod h4 {
  font-size: 13px;
  text-align: center;
}

.body-container #cvSkills #education .eductionPeriod p {
  font-size: 12px;
  padding: 15px;
  margin: 5px;
  word-wrap: break-word;
}

.body-container #cvSkills #education .eductionPeriod .ifValidate {
  text-align: center;
}

.body-container #cvSkills #skills {
  background: #F8F9FA;
  color: #212529;
}

.body-container #cvSkills #skills .content-details .icons {
  font-size: 30px;
  position: relative;
  top: 36px;
}

.body-container #cvSkills #skills .content-details h3 {
  margin: auto 75px;
  font-size: 25px;
}

.body-container #cvSkills #skills .content-details p {
  margin: 27px 75px;
  font-size: 20px;
  word-wrap: break-word;
}

.body-container #jobsGroup h2 {
  margin: 15px;
}

.body-container #jobsGroup div.card {
  color: #F8F9FA;
}

.body-container #jobsGroup div.card .card-header {
  background: #212529;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-container #jobsGroup div.card .card-header p {
  position: absolute;
  right: 20px;
  top: 12px;
}

.body-container #jobsGroup div.card .card-body, .body-container #jobsGroup div.card .card-footer {
  background: #3A3A3A;
}

.body-container #jobsGroup div.card .card-text {
  background: #4b4b4b;
  font-size: 12px;
  padding: 15px;
}

.body-container #jobsGroup div.card .card-footer {
  padding: 10px;
  text-align: center;
}

.body-container #infoContact {
  margin-top: 50px;
}

.body-container #infoContact h2 {
  margin: 0 20px;
}

.body-container #infoContact #contactMe .presentation {
  width: 20%;
}

.body-container #infoContact #contactMe .presentation p {
  margin: 30px;
}

.body-container #infoContact #contactMe .num, .body-container #infoContact #contactMe .location, .body-container #infoContact #contactMe .email {
  margin: 13px 9px;
  font-size: larger;
}

.body-container #infoContact #contactMe .num i, .body-container #infoContact #contactMe .location i, .body-container #infoContact #contactMe .email i {
  position: relative;
  left: -125px;
  top: 15px;
  font-size: 30px;
}

.body-container #infoContact #contactMe .num p, .body-container #infoContact #contactMe .location p, .body-container #infoContact #contactMe .email p {
  position: relative;
  bottom: 15px;
}

.body-container #infoContact #contactMe .num {
  background: #e8e5da;
  border-radius: 10px;
  height: 61px;
}

.body-container #infoContact #contactMe .location {
  background: #9eb7e5;
  border-radius: 10px;
  height: 61px;
}

.body-container #infoContact #contactMe .email {
  background: #9eb7e5;
  border-radius: 10px;
  height: 61px;
}

#icon-chibi img {
  position: absolute;
  width: 50%;
  left: 0;
  right: 0;
  top: -70px;
}

.footer-container {
  background-color: #212529;
  color: white;
}

.footer-container #footerLinks .socialNetwork a {
  font-size: 30px;
}

.animation_name > .nameC,
.animation_name > .nameL,
.animation_name > .nameA,
.animation_name > .nameR,
.animation_name > .nameA2 {
  -webkit-animation: comeFromRight 1500ms forwards;
          animation: comeFromRight 1500ms forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.animation_name > .ico {
  -webkit-animation: reducePoint 1000ms forwards;
          animation: reducePoint 1000ms forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.animation_name > .lastName {
  -webkit-animation: apparitionLname 5000ms forwards;
          animation: apparitionLname 5000ms forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes comeFromRight {
  0% {
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes comeFromRight {
  0% {
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@-webkit-keyframes reducePoint {
  0% {
    font-size: 150px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 20px;
    font-size: 70px;
  }
}

@keyframes reducePoint {
  0% {
    font-size: 150px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 20px;
    font-size: 70px;
  }
}

@-webkit-keyframes apparitionLname {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparitionLname {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1;
  }
}

@media all and (min-width: 320px) and (max-width: 667px) {
  .header-container .animation_name {
    display: none;
  }
  .body-container #infoContact #contactMe .presentation {
    width: 100%;
  }
  #icon-chibi {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */