body{
    font-family: 'Source Code Pro', monospace;
}

.header-container{
    .animation_name{
        font-size: 100px;
        justify-content: center;
        .ico{
            font-size: 150px;
            position: relative;
        }
        #letters{
            position: relative;
        }
        .nameC{
            right: -45%;
            opacity: 0;
        }
        .nameL{
            right: -37%;
            opacity: 0;
        }
        .nameA{
            right: -29%;
            opacity: 0;
        }
        .nameR{
            right: -21%;
            opacity: 0;
        }
        .nameA2{
            right: -13%;
            opacity: 0;
        }
        .lastName{
            opacity: 0;
        }

}
#intro{
    #cvTitle{
        text-align: center;
    }
}
}

.body-container{
    margin: 50px auto;
    #cvSkills{
        #education, #skills{
            border: white solid 20px;
        }
        #education{
            background: #212529;
            color: #F8F9FA;
            .eductionPeriod{
                background: #3A3A3A;
                h3{
                    text-align: center;
                }
                h4{
                    font-size: 13px;
                    text-align: center;
                }
                p{
                    font-size: 12px;
                    padding: 15px;
                    margin: 5px;
                }
                .ifValidate{
                    text-align: center;
                }
            }
        }
        #skills{
            background: #F8F9FA;
            color: #212529;
            .content-details{
                .icons{
                    font-size: 30px;
                    position: relative;
                    top: 36px;
                }
                h3{
                    margin: auto 75px;
                    font-size: 25px;
                }
                p{
                    margin: 34px 75px;
                    font-size: 20px;
                    word-wrap: break-word;
                }
            }
        }
    
    }

    #jobsGroup{
        h2{
            margin: 15px;
        }
        div.card{
            color: #F8F9FA;
            .card-header{
                background: #212529;
                padding: 5px;
                display: flex;
                p{
                    position: absolute;
                    right: 20px;
                    top: 12px;
                }
            }
            .card-body, .card-footer{
                background: #3A3A3A;
            }
            .card-text{
                background: #4b4b4b;
                font-size: 12px;
                padding: 15px;
            }
            .card-footer{
                padding: 10px;
                text-align: center;
            }
        }
    }

    #infoContact{
        margin-top: 50px;
        #contactMe{
            .num, .location, .email{
                margin: 13px auto;
                font-size: larger;
                i{
                    position: relative;
                    left: -125px;
                    top: 15px;
                    font-size: 30px;
                }
                p{
                    position: relative;
                    bottom: 15px;
                }
            }
            .num{
                background: #e8e5da;
                border-radius: 10px;
                height: 61px;
            }
            .location{
                background: #9eb7e5;
                border-radius: 10px;
                height: 61px;
            }
            .email{
                background: #9eb7e5;
                border-radius: 10px;
                height: 61px;
            }
            }
        }
}
#iconChibi{
    background: url('/images/téléchargement.png');
    }

.footer-container{
    background-color: #212529;
    color: white;
    #footerLinks{
        .socialNetwork{
            a{
                font-size: 30px;
            }
        }
    }
}



.animation_name > .nameC,
.animation_name > .nameL,
.animation_name > .nameA,
.animation_name > .nameR,
.animation_name > .nameA2{
    animation: comeFromRight 1500ms forwards;
    animation-delay: 2s;
}

.animation_name > .ico{
    animation: reducePoint 1000ms forwards;
    animation-delay: 1.5s;
}

.animation_name > .lastName{
    animation: apparitionLname 5000ms forwards;
    animation-delay: 1.5s;
}


@keyframes comeFromRight {
    0%{
        
    }
    100%{
        opacity: 1;
        right: 0;
    }
    
}

@keyframes reducePoint {
    0%{
        font-size: 150px;
    }
    50%{
        top: 10px;
    }
    100%{
        top: 20px;
        font-size: 70px;
    }

}

@keyframes apparitionLname {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 1;
    }
}


@media all and (min-width: 320px) and (max-width: 667px){
.header-container{
    .animation_name{
        display: none;
    }
}
}